h2,
h3 {
    color: darkred;
    font-family: 'Petit Formal Script', cursive;
}

h2 {
    text-align: center;
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
    padding-left: 10px;
}

#card-container {
    background-color: white;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
}

.text-container {
    /* background-color: blue; */
    padding: 40px 10px 20px 10px;
    /* min-height: 200px; */
    max-height: 400px;
    width: 40%;
    max-width: 50%;
    word-wrap: break-word;
    line-height: 30px;
}

#card-title{
    margin-bottom: 20px;
}

#card-from {
    float: right;
    padding-right: 10px;
}

img {
    height: 400px;
    /* min-width: 40%; */
    width: 100%;
    margin: 0;
    float: right;
    object-fit: cover;
}

#card-image{
    /* background-color: aqua; */
    /* min-width: 40%; */
    width: 100%;
}